@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand", "Monospace";
}

body {
	height: 100vh;
	width: 100vw;
	background: url("images/piano-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

h1 {
	margin: 4rem 0;
	text-align: center;
	font-size: 3rem;
	color: #00ffff;
	text-shadow: 0 0 0.4rem #00ffff;
	letter-spacing: 2px;
}

#piano {
	height: 30rem;
	width: 80%;
	margin: 2rem auto;
	border-radius: 0.5rem;
	border: 0.2rem solid #ffffff30;
	box-shadow: 0 0 0.5rem 0.25rem #ff008c;
	backdrop-filter: blur(3px);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

button {
	height: 70%;
	width: 10%;
	font-size: 2rem;
	color: #00ffff;
	background-color: #ff008c;
	border: 2px solid #00ffff;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.1s linear;
}

button:nth-of-type(even) {
	color: #ff008c;
	background-color: #00ffff;
	border: 2px solid #ff008c;
}

button:focus {
	outline: transparent;
}

button:active,
button.activated {
	transform: scale(0.95);
	box-shadow: 0 0 0.5rem 0.5rem #ff008c;
}

@media (max-width: 700px) {
	#piano {
		width: 90%;
		height: 20rem;
		flex-wrap: wrap;
	}

	button {
		height: 40%;
		width: 22%;
		font-size: 1rem;
	}
}
